
<!DOCTYPE html>
<html lang ="uk">
  <head>
      <meta charset="UTF-8"/>
      <title> Сервіс Обліку Студентів </title>
      <meta name="description"
            value="Система обліку студентів навчального закладу" />
      <!-- Include Styles -->
            <link rel="stylesheet"
                href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="./css/main.css">

      <!--Include styles-->

            <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
      <style type="text/css">.col-xs-12, .col-xs-4, .col-xs-8 {border:0px solid #edfdff;}</style>


  </head>
    <body>
       <!-- Start Container -->
       <div class="container">

            <!-- Start Header -->
        <div class="row" id="header">

            <!-- Logo -->
        <div class="col-xs-8">
            <h1>Сервіс Обліку Студентів</h1>
        </div>
            <!-- Groups Selector -->
            <div class="col-xs-4" id="group-selector">
                <strong>Група:</strong>
                <select>
                    <option value="">Усі Студенти</option>
                    <option value="">МтМ - 21, Подоба Віталій (No 3126)</option>
                    <option value="">МтМ - 22, Корост Андрій (No 2123)</option>
                    <option value="">МтМ - 25, Заєць Андрій (No 4520)</option>
                </select>
            </div>
        </div>
        <!-- End Header -->
            <!-- Start SubHeader -->
        <div class="row" id="sub-header">
            <div class="col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#">Студенти</a></li>
                <li role="presentation"><a href="#">Відвідування</a></li>
                <li role="presentation"><a href="#">Групи</a></li>
            </ul>
            </div>
        </div>
        <!-- End SubHeader -->
           <!-- Start Main Page Content -->
        <div class="row" id="content-columns">
                <div class="col-xs-12" id="content-column">
                <!-- Status Message -->

                <h2>Облік Відвідування</h2>

    </table>
               <div>
                <!-- Start Students Listing -->

            <table class="table table-hover  table-bordered ">


               <h4 align="center"><a href="">&larr;</a>Лютий 2015<a href="">&rarr;</a></h4>



            <td>

                <th></th>

                <th>Нд</th>
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сб</th>
                <th>Нд</th>
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сб</th>
                <th>Нд</th>
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сб</th>
                <th>Нд</th>
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сб</th>


            </thead>
            <tbody>

            <tr>

                    <td>#</td>
                    <td rowspan="2">Student</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>


                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td><a href="#"></a></td>
                    <td rowspan="2"><a href="#" >sergii zarz</td>
                    


                    </td>

                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>


                </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td></td>
                    <td><a href="#">Сергій</a></td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </td>


                </tr>
            <tbody>
                <tr>
                    <td rowspan="0"></td>
                    <td><a href="#">Заєць</a></td>


                    </td>

                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>


                </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td></td>
                    <td><a href="#">Сергій</a></td>

                        <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </td>
            <tbody>
                <tr>
                    <td rowspan="0"></td>
                    <td><a href="#">Заєць</a></td>


                    </td>

                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>
                    <td><input type="checkbox" name="a2"></td>


                </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td></td>
                    <td><a href="#">Сергій</a></td>

                        <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </td>





            </tbody>
        </table>
          <!-- End Students Listing -->
         <!-- Start page navigation -->
            <nav>
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </nav>

          <!-- End page navigation -->


              </div>

            </div>

        </div>

            <!-- End Main Page Content -->

            <!-- Start Footer -->
            <div class="row" id="footer">
                <div class="col-xs-12">
                &copy; 2014 Сервіс Обліку Студентів
            </div>
            </div>
        <!-- End Footer -->
        </div>

        <!-- End Container -->





    </body>
 </html>


